{# templates/payment/old_reservations.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My Reservations{% endblock %}

{% block body %}
<h2>My Previous Reservations</h2>

{% if payments is empty %}
    <p>You have no previous reservations.</p>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.tripDay.destination }}</td>
                <td>{{ payment.amount }} TND</td>
                <td>{{ payment.createAt|date('Y-m-d H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
